﻿@using BusinessParkE.Models
@model BusinessParkE.Models.ViewModel

@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@section CSS_Content{

<link rel="stylesheet" href="~/Content/Vendors/Lemonade/lemonade.css">
<link rel="stylesheet" href="~/Content/CSS/MyClass.css">

}



<h3><i class="fa fa-arrow-circle-down"></i> Sensor Graphs</h3>


<div class="lframe">

    @foreach (Model_ThingSpeak_Details items_ThingSpeak in Model.ThingSpeakDetails)
    {

        <div class="lbit-2">
            <div class="lbox">

                <h4><i class="fa fa-arrow-circle-down"></i> Sensor Name: @items_ThingSpeak.SensorName</h4>
                @Html.Raw(@items_ThingSpeak.SensorIframe)

            </div>
        </div>


    }
    
</div>







@section JS_Content {

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBh9AU-GIG0MXYv6-2lBpBUe89uFdwZ4vQ&callback=initialize">
    </script>


}