﻿/* This is the MASTER STYLE */








/* 1.) BASIC - STRUCTURE OF THE BOX, FRAME, ETC ----- 100  */
/* 2.) LOGIN - FOOTER STRUCTURE                 ----- 235  */
/* 3.) LOGIN - LOGIN ITEMS                      ----- 350  */
/* 4.) INDEX - REGISTRATION ITEMS               ----- 420  */
/* 5.) MYWALL - VIDEO STYLE                     ----- 500  */
/* 6.) BASIC - MENU STYLE                       ----- 530  */
/* 7.) BASIC - MENU ITEMS                       ----- 615  */
/* 8.) MYWALL - STYLE STRUCTURE OF ITEMS        ----- 650  */
/* 9.) MYWALL - STYLE FOR IMAGES ONLY           ----- 700  */
/* 10.) BASIC - LOAD MORE BUTTOM                ----- 775  */
/* 11.) MYWALL - CATEGORIES BUTTOMS AT TOP      ----- 810  */
/* 12.) WATCH - CLASSES CATEGOGIES OF WATCH     ----- 980  */
/* 13.) WATCH - LABELS,LINKS FOR WATCH          ----- 1030 */
/* 14.) UPLOAD - UPLOAD PAGE BUTTOMS            ----- 1250 */
/* 15.) SERIES - EXISTING - BUTTOMS AND LABELS  ----- 1370 */
/* 16.) SERIES - NEW - BUTTOMS AND LABELS       ----- 1520 */
/* 17.) CATEGORIES - SEARCH BUTTOMS             ----- 1670 */
/* 18.) SERIES - NEW - REQUIRED FIELDS          ----- 1760 */








































































* {
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          font-family:Papyrus;
}

body {
  background-color:black;
  min-width:400px;
}

.bit-1:hover {
    background-color:blue;
}

.bit-2:hover {
    background-color:blue;
}
.bit-4:hover {
    background-color:blue;
}

.bit-6:hover {
    background-color:lime;
}

.bit-8:hover {
    background-color:lime;
}

h1 {
  text-align: center;
  font: 7em "Helvetica Neue" Arial;
  color:black;
  font-weight: 800;
  padding: 40px;
  padding-bottom: 0;
}

p {
  text-align: center;
  font: 1em "Helvetica Neue" Arial;
  color:blue;
  font-weight: 800;
  font-size:2em;
  margin-top:-5px;
  padding-bottom: 30px;
}

.fork {
  padding-bottom:60px;
}

footer {
  margin-top:50px;
  text-align: center;
  padding:40px;
}

footer > p {
  padding-top:30px;
  text-transform:none;
  letter-spacing: 0;
}

.frame {
  width: 95%;
  margin: 0px auto;
  background-color:orange;
}

.box {
  text-align: center;
  font: 1em "Helvetica Neue" Arial;
  background-color:black;
  color:#fff;
  padding: 15px 0px 15px 0px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
       -o-border-radius: 6px;
          border-radius: 6px;
}


.button,
.button:visited {
  margin: 50px auto;
  width: 200px;
  margin-right:5px;
  background: #fff;
  font: 1em "Helvetica Neue" Arial;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
       -o-border-radius: 6px;
          border-radius: 6px;
  -webkit-transition: all 0.1s ease-in-out;
     -moz-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
  border: 0;
  padding: 15px;
  color: #ff6060;
  text-decoration: none;
}


@media (max-width: 480px) {
  h1 {
    font-size: 3em;
  }

  p {
    margin-top:0;
    font-size:0.8em;
    padding-bottom:45px;
  }

  footer {
    margin-top:0;
  }

  .button {
    display:block;
    width:100%;
    margin-top:10px;
    margin-bottom:0;
  }

  p > span {
    display:none;
  }

  .fork {
    display:none;
  }
}



/* ------------------------------------ GLOBAL: FOOTER ITEMS ----------------------- DONE */

.Css_Page_Footer {
    border-bottom-color: blue;
    border-color: blue;
    background-color: blue;
    color: white;
    font-size: large;
    border-left-color: blue;
    border-right-color: blue;
    border-top-color: blue;
    cursor: pointer;
    font-style: oblique;
    font-weight: bold;
    border-radius: 35px;
    width: 50%;
}

    .Css_Page_Footer:hover {
        background-color: orange;
        color: black;
        font-style: oblique;
        box-shadow: 0 0 20px blue;
        background-color: lime;
    }

/* ------------------------------------ PAGE - LOGIN: ITEMS ----------------------DONE */

.Css_Page_Login_Textbox {
    border-top-color:blue;
	border-bottom-color:blue;
	border-right-color:blue;
	border-left-color:blue;
	border-color:blue;
	width: 50%;
	height: 30px;
	border-radius: 3px 50px 50px 3px;
	font-size: large;
    font-weight: bold;
    font-style:oblique;
}



#recover_hyperlink {
    color:white;
}


.Css_Page_Login_Required {
    text-align:center;
}


/* ------------------------------------ PAGE - REGISTER: REGISTER ITEMS ---------------------- */

.Css_Page_Register_Textbox {
    border-top-color:blue;
	border-bottom-color:blue;
	border-right-color:blue;
	border-left-color:blue;
	border-color:blue;
	width: 50%;
	height: 30px;
	border-radius: 3px 50px 50px 3px;
	font-size: large;
    font-weight: bold;
    font-style:oblique;
}

#register_hyperlink {
    color:white;
}

.Css_Page_Register_Required {
    text-align:center;
}



/* ==================================== GLOBAL: VIDEO STYLE ==================================== */


#flowplayer {
    width: 100%;
    background-color: #000;
}

    #flowplayer .fp-controls {
        background-color: rgba(0, 0, 0, 0.4);
    }

    #flowplayer .fp-timeline {
        background-color: rgba(0, 0, 0, 0.5);
    }

    #flowplayer .fp-progress {
        background-color: rgba(0, 7, 219, 1);
    }

.flowplayer .fp-buffer {
    background-color: rgba(249, 249, 249, 1);
}



/* ============================== GLOBAL: MENU BAR ========================================= */


#navi {
	height: 50px;
	
}


#menu {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #426d9c), color-stop(40%, #0f67a1), color-stop(100%, orange));
	background: -moz-linear-gradient(top, #426d9c, #0f67a1, #1384d1);
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	line-height: 50px;
	text-align: center;
	margin: 0 auto;
	padding: 0;
    z-index: 10; /* This is to bring the menu to the front a negative value then it goes to the back*/
}


ul {
	padding: 0;
}

ul li {
	list-style-type: none;
	display: inline;
	margin-right: 15px;
}

ul li a {
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
	padding: 3px 7px;
    font-size:larger;
    font-weight:bold;
    font-style:oblique;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	-webkit-transition-property: color, background;
	-webkit-transition-duration: 0.5s, 0.5s;
}

ul li a:hover {
	background: #01458e;
	color: #ff0;

	-webkit-transition-property: color, background;
	-webkit-transition-duration: 0.5s, 0.5s;
}

.default {
	width:auto;
	height: 76px;   /* this is regular height*/
	
	box-shadow: 0 5px 20px #888;
	-webkit-box-shadow: 0 5px 20px #888;
	-moz-box-shadow: 0 5px 20px #888;
}


.fixed {
	position: fixed;
	top: -5px;
	left: 0;
	width: 100%;
    height:76px;    /* THIS IS FOR THE ON HOVER NAVI BAR*/
	
	box-shadow: 0 0 40px #222;
	-webkit-box-shadow: 0 0 40px #222;
	-moz-box-shadow: 0 0 40px #222;
}



/* ================================ GLOABL: MENU ITEMS ==================================== */


.Css_Page_Navigation_All:hover {
    background-color:black;
}


@media (max-width: 600px) {

    .Css_Page_Navigation_All {
        width:50px;
        height:50px;
    }

 
}


/* ======================================= GLOBAL: ALL VIDEO IMAGES  ===================================== */

.Css_Page_Images {
    width:100%;
    height:400px;
}


/* ==================================== PAGE - ACCOUNT - CATEGORIES: SEARCH OPTIONS ==================================== */

.Css_Page_Categories_Options {
    border-bottom-color:blue;
	border-color:blue;
	background-color:blue;
	color:white;
	font-size: large;
	border-left-color:blue;
	border-right-color:blue;
	border-top-color:blue;
	cursor: pointer;
    font-style:oblique;
    border-radius: 35px;
    width:50%;
}

    .Css_Page_Categories_Options:hover {
        background-color:orange;
        color:black;
        font-style:oblique;
        box-shadow: 0 0 20px blue; 
        background-color:lime;
    }



/* ==================================== GLOBAL: 4X4 VIDEO STYLES(FOUND IN CATEGORIES, WATCH)  =================================== */

.bottom_wrapper_category {
    text-align:left;
    font-size:large;
    font-style:oblique;
    font-weight:bold;
    color:white;
    
}

.bottom_wrapper_image {
    text-align:left;
    font-size:small;
    color:white;
    font-style:oblique;
    font-weight:bold;

}

.bottom_wrapper_image:hover {
    opacity:0.4;
}

.bottom_wrapper_author {
    text-align:left;
    font-size:smaller;
    color:white;
    font-style:oblique;
    font-weight:bold;

}

.bottom_wrapper_title {
    text-align:left;
    font-size:x-large;
    font-style:oblique;
    color:white;
    font-weight:bold;

}

#watch_episode_title_label {
    color:lime;
    font-style:oblique;
    font-weight:bolder;
    font-size:medium;
}


    #watch_episode_title_label:hover {
        font-size:xx-large;
    }



/* ==================================== PAGE - ACCOUNT - UPLOAD: BUTTOMS ========================================= */
.Css_Page_Upload_Buttoms {
	height: 35px;
	width: 225px;
	background-color:blue;
	color: #FFFFFF;
    font-style:oblique;
	font-size: x-large;
	font-weight: bold;
	border-bottom-color:blue;
	border-top-color:blue;
	border-left-color:blue;
	border-right-color:blue;
	cursor: pointer;
	border-radius: 35px;

}

    .Css_Page_Upload_Buttoms:hover {
    color:black;
    font-style:oblique;
    box-shadow: 0 0 20px orangered; 
    background-color:lime;

    }



/* ==================================== PAGE - ACCOUNT - UPLOAD - EXISTING: BUTTOMS AND TEXTBOXS ========================================= */

#existing_upload_buttom {
	height: 35px;
	width: 225px;
	background-color:blue;
	color: #FFFFFF;
    font-style:oblique;
	font-size: x-large;
	font-weight: bold;
	border-bottom-color:blue;
	border-top-color:blue;
	border-left-color:blue;
	border-right-color:blue;
	cursor: pointer;
	border-radius: 35px;
}

    #existing_upload_buttom:hover {
    color:black;
    font-style:oblique;
    box-shadow: 0 0 20px orangered; 
    background-color:lime;

    }

.Css_Page_Existing_Textbox {
    border-top-color:blue;
	border-bottom-color:blue;
	border-right-color:blue;
	border-left-color:blue;
	border-color:blue;
	width: 50%;
	height: 30px;
	font-size: large;
    font-weight: bold;
    font-style:oblique;
}


#existing_episode_label {
    color:lime;
    font-style:oblique;
    font-weight:bolder;
    font-size:medium;
}

    #existing_episode_label:hover {
        font-size:xx-large;
    }

#RequiredFieldValidator1 {
    color:red;
}

#RequiredFieldValidator2 {
    color:blue;
}

#RequiredFieldValidator3 {
    color:green;
}

#RequiredFieldValidator4 {
    color:purple;
}

#RequiredFieldValidator5 {
    color:lime;
}

#RequiredFieldValidator6 {
    color:purple;
}



/* ==================================== PAGE - ACCOUNT - UPLOAD - NEW: SUBMIT AND LABELS ===================================== */

#buttom_submit {
	height: 35px;
	width: 225px;
	background-color:blue;
	color: #FFFFFF;
    font-style:oblique;
	font-size: x-large;
	font-weight: bold;
	border-bottom-color:blue;
	border-top-color:blue;
	border-left-color:blue;
	border-right-color:blue;
	cursor: pointer;
	border-radius: 35px;

}

    #buttom_submit:hover {
    color:black;
    font-style:oblique;
    box-shadow: 0 0 20px orangered; 
    background-color:lime;

    }

#new_series_label_top {
    color:lime;
    font-style:oblique;
    font-weight:bolder;
    font-size:medium;
}

    #new_series_label_top:hover {
        font-size:xx-large;
    }

/* ==================================== PAGE - ACCOUNT - UPLOAD - NEW : BUTTOMS AND REQUIRED STYLES ====================================== */

.Css_Page_Upload_New_Textbox {
    width:60%;
    border-top-color:blue;
	border-bottom-color:blue;
	border-right-color:blue;
	border-left-color:blue;
	border-color:blue;
	height: 30px;
	font-size: large;
    font-weight: bold;
    font-style:oblique;
}

#new_RequiredFieldValidator1 {
    color:purple;
}

#new_RequiredFieldValidator2 {
    color:red;
}

#new_RequiredFieldValidator3 {
    color:lime;
}

#new_RequiredFieldValidator4 {
    color:blue;
}

#new_RequiredFieldValidator5 {
    color:orange;
}

#new_RequiredFieldValidator6 {
    color:aqua;
}

#new_RequiredFieldValidator7 {
    color:white;
}

#new_RequiredFieldValidator8 {
    color:brown;
}

#new_RequiredFieldValidator9 {
    color:cyan;
}

#new_RequiredFieldValidator10 {
    color:linen;
}


/* =============================== PAGE - ACCOUNT - UPLOAD - NEW : SEARCH BAR AND SUBMIT ================================== */

#buttom_search {
    border-top-color:blue;
	border-bottom-color:blue;
	border-right-color:blue;
	border-left-color:blue;
	border-color:blue;
	width: 50%;
	height: 30px;
	border-radius: 3px 50px 50px 3px;
	font-size: large;
    font-weight: bold;
    font-style:oblique;
}

#buttom_submit_search {
    height: 35px;
	width: 50%;
	background-color:blue;
	color: #FFFFFF;
    font-style:oblique;
	font-size: x-large;
	font-weight: bold;
	border-bottom-color:blue;
	border-top-color:blue;
	border-left-color:blue;
	border-right-color:blue;
	cursor: pointer;
	border-radius: 35px;
}

    #buttom_submit_search:hover {
        color:black;
        font-style:oblique;
        box-shadow: 0 0 20px orange; 
        background-color:lime;
    }



/* =============================== PAGE - ACCOUNT - WATCH: VIDEO OPTIONS ================================== */


.Css_Page_Watch_Deatails {
    height:36px;
}



#Page_Watch_Comment_Textbox {
    border-top-color:blue;
	border-bottom-color:blue;
	border-right-color:blue;
	border-left-color:blue;
	border-color:blue;
	width: 50%;
	height: 30px;
	border-radius: 3px 50px 50px 3px;
	font-size: large;
    font-weight: bold;
    font-style:oblique;
}

#Page_Watch_Comment_Buttom {
    height: 35px;
	width: 50%;
	background-color:blue;
	color: #FFFFFF;
    font-style:oblique;
	font-size: x-large;
	font-weight: bold;
	border-bottom-color:blue;
	border-top-color:blue;
	border-left-color:blue;
	border-right-color:blue;
	cursor: pointer;
	border-radius: 35px;
}

    #Page_Watch_Comment_Buttom:hover {
        color:black;
        font-style:oblique;
        box-shadow: 0 0 20px orange; 
        background-color:lime;
    }


.bubble img {
    margin-left:15px;
    float:left;
    width:70px;
    height:70px;
    border:3px solid #ffffff;
    border-radius:10px
    
}



.bubble {
    display: inline-block;
    position: relative;
    width: 80%;
    padding: 0px;
    background: #FFFFFF;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 3px 50px 50px 3px;
}

#Page_Watch_Comment_User_Img {
    height:70px;
    width:70px;
}

.CSS_Page_Watch_Comment_Name {
    text-align:left;
}



