﻿* {
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

body {
  background-color:black;
}

.bit-1:hover {
    background-color:blue;
}

.bit-4:hover {
    background-color:blue;
}

h1 {
  text-align: center;
  font: 7em "Helvetica Neue" Arial;
  color:black;
  font-weight: 800;
  padding: 40px;
  padding-bottom: 0;
}

p {
  text-align: center;
  font: 1em "Helvetica Neue" Arial;
  color:blue;
  font-weight: 800;
  font-size:2em;
  margin-top:-5px;
  padding-bottom: 30px;
}

.fork {
  padding-bottom:60px;
}

footer {
  margin-top:50px;
  text-align: center;
  padding:40px;
}

footer > p {
  padding-top:30px;
  text-transform:none;
  letter-spacing: 0;
}

.frame {
  width: 95%;
  margin: 0px auto;
  background-color:orange;
}

.box {
  text-align: center;
  font: 1em "Helvetica Neue" Arial;
  background-color:black;
  color:#fff;
  padding: 15px 0px 15px 0px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
       -o-border-radius: 6px;
          border-radius: 6px;
}

.box:hover {
  color:#ffa3a3;
}

.button,
.button:visited {
  margin: 50px auto;
  width: 200px;
  margin-right:5px;
  background: #fff;
  font: 1em "Helvetica Neue" Arial;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
       -o-border-radius: 6px;
          border-radius: 6px;
  -webkit-transition: all 0.1s ease-in-out;
     -moz-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
  border: 0;
  padding: 15px;
  color: #ff6060;
  text-decoration: none;
}


@media (max-width: 480px) {
  h1 {
    font-size: 3em;
  }

  p {
    margin-top:0;
    font-size:0.8em;
    padding-bottom:45px;
  }

  footer {
    margin-top:0;
  }

  .button {
    display:block;
    width:100%;
    margin-top:10px;
    margin-bottom:0;
  }

  p > span {
    display:none;
  }

  .fork {
    display:none;
  }
}

/* ====================================================================================== */
/* ====================================================================================== */
/* ===================================== STATIC MENU BAR  =============================== */
/* ====================================================================================== */
/* ====================================================================================== */


#navi {
	height: 50px;
	
}


#menu {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #426d9c), color-stop(40%, #0f67a1), color-stop(100%, orange));
	background: -moz-linear-gradient(top, #426d9c, #0f67a1, #1384d1);
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	line-height: 50px;
	text-align: center;
	margin: 0 auto;
	padding: 0;
    z-index: 10; /* This is to bring the menu to the front a negative value then it goes to the back*/
}


ul {
	padding: 0;
}

ul li {
	list-style-type: none;
	display: inline;
	margin-right: 15px;
}

ul li a {
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
	padding: 3px 7px;
    font-size:larger;
    font-weight:bold;
    font-style:oblique;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	-webkit-transition-property: color, background;
	-webkit-transition-duration: 0.5s, 0.5s;
}

ul li a:hover {
	background: #01458e;
	color: #ff0;

	-webkit-transition-property: color, background;
	-webkit-transition-duration: 0.5s, 0.5s;
}

.default {
	width:auto;
	height: 76px;   /* this is regular height*/
	
	box-shadow: 0 5px 20px #888;
	-webkit-box-shadow: 0 5px 20px #888;
	-moz-box-shadow: 0 5px 20px #888;
}



.fixed {
	position: fixed;
	top: -5px;
	left: 0;
	width: 100%;
    height:76px;    /* THIS IS FOR THE ON HOVER NAVI BAR*/
	
	box-shadow: 0 0 40px #222;
	-webkit-box-shadow: 0 0 40px #222;
	-moz-box-shadow: 0 0 40px #222;
}


/* ====================================================================================== */
/* ====================================================================================== */
/* ===================================== STATIC MENU ITEMS  ============================= */
/* ====================================================================================== */
/* ====================================================================================== */


#navigation_home:hover {
    background-color:black;
}

#navigation_categories:hover {
    background-color:black;
}

#navigation_profile:hover {
    background-color:black;
}

#navigation_notifications:hover {
    background-color:black;
}

#navigation_upload:hover {
    background-color:black;
}

#navigation_settings:hover {
    background-color:black;
}

#navigation_logout:hover {
    background-color:black;
}


/* ====================================================================================== */
/* ====================================================================================== */
/* ===================================== STATIC MENU ITEMS  ============================= */
/* ====================================================================================== */
/* ====================================================================================== */

#buttom_timeline {
    height: 30px;
	width: 50%;
	background-color:blue;
	color: #FFFFFF;
    font-style:oblique;
	font-size: larger;
	font-weight: bold;
	border-bottom-color:blue;
	border-top-color:blue;
	border-left-color:blue;
	border-right-color:blue;
	cursor: pointer;
	border-radius: 35px;
}

    #buttom_timeline:hover {
        color:black;
        font-style:oblique;
        box-shadow: 0 0 20px orange; 
        background-color:lime;
    }

#buttom_about {
    height: 30px;
	width: 50%;
	background-color:blue;
	color: #FFFFFF;
    font-style:oblique;
	font-size: larger;
	font-weight: bold;
	border-bottom-color:blue;
	border-top-color:blue;
	border-left-color:blue;
	border-right-color:blue;
	cursor: pointer;
	border-radius: 35px;
}

    #buttom_about:hover {
        color:black;
        font-style:oblique;
        box-shadow: 0 0 20px orange; 
        background-color:lime;

    }

#buttom_series {
    height: 30px;
	width: 50%;
	background-color:blue;
	color: #FFFFFF;
    font-style:oblique;
	font-size: larger;
	font-weight: bold;
	border-bottom-color:blue;
	border-top-color:blue;
	border-left-color:blue;
	border-right-color:blue;
	cursor: pointer;
	border-radius: 35px;
}

    #buttom_series:hover {
        color:black;
        font-style:oblique;
        box-shadow: 0 0 20px orange; 
        background-color:lime;
    }

#buttom_followers {
    height: 30px;
	width: 50%;
	background-color:blue;
	color: #FFFFFF;
    font-style:oblique;
	font-size: larger;
	font-weight: bold;
	border-bottom-color:blue;
	border-top-color:blue;
	border-left-color:blue;
	border-right-color:blue;
	cursor: pointer;
	border-radius: 35px;
}

    #buttom_followers:hover {
        color:black;
        font-style:oblique;
        box-shadow: 0 0 20px orange; 
        background-color:lime;
    }



#user_my_profile_name {
    color:lime;
    font-style:oblique;
    font-weight:bolder;
    font-size:medium;
}

    #user_my_profile_name:hover {
        font-size:xx-large;
    }
