﻿.Style_Page_Basic_Textbox {
    border-top-color:blue;
	border-bottom-color:blue;
	border-right-color:blue;
	border-left-color:blue;
	border-color:blue;
	width: 60%;
	height: 30px;
	border-radius: 3px 50px 50px 3px;
	font-size: large;
    font-weight: bold;
    font-style:oblique;
}


.Css_Page_Basic_Options {
    border-bottom-color:blue;
	border-color:blue;
	background-color:blue;
	color:white;
	font-size: large;
	border-left-color:blue;
	border-right-color:blue;
	border-top-color:blue;
	cursor: pointer;
    font-style:oblique;
    border-radius: 35px;
    width:50%;
}

    .Css_Page_Basic_Options:hover {
        background-color:orange;
        color:black;
        font-style:oblique;
        box-shadow: 0 0 20px blue; 
        background-color:lime;
    }




