﻿.my_class_h4{
    color:white;
    font-size:large;
    font-family:'Comic Sans MS';

}

.my_body_Business{
    background-image:url(../../Content/IMG/background-2945829.png)
}

.mydiv_business {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    text-align: center;
    font-family: 'Comic Sans MS';
    border-radius: 20%;
    padding: 10px;
    border-color: black gold blue orange;
    border-width: thick;
    background: url(../../Content/IMG/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.my_h1{
    top:50%;
    left:50%;
    text-decoration:none;
    font-family:'Comic Sans MS';
    color:orangered;
    font-size:50px;
}

.my_Actionlink {
    text-decoration: none;
    color: white;
}