﻿@using BusinessParkE.Global
@using BusinessParkE.Models
@model BusinessParkE.Models.ViewModel


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="initial-scale=1.0, user-scalable=no" name="viewport">

    <link rel="shortcut icon" href="~/Content/IMG/logo.png" type="image/x-icon">

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- VENDORS: Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/Content/Vendors/Bootstrap/bootstrap.css">

    <!-- VENDORS: AdminLTE Theme style -->
    <link rel="stylesheet" href="~/Content/Vendors/AdminLTE/admin_lte.css">

    <!-- VENDORS: AdminLTE Theme style, RED SKIN -->
    <link rel="stylesheet" href="~/Content/Vendors/AdminLTE/skin-red.css">

    <!-- FONT: Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- FONT: Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <title>@ViewBag.PageTitle</title>


    @RenderSection("CSS_Content", false)


</head>
<body class="hold-transition skin-red sidebar-mini">

    @foreach (Model_User_Details items in Model.UserDetails)
    {



        <div class="wrapper">


            <!-- Main Header -->
            <header class="main-header">

                <!-- Logo -->
                <a href="@Url.Action("Dashboard", "Admin")" class="logo">

                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>@BusinessParkE.Global.Constants.Menus_Items.GLOBAL_TITLE()</b></span>

                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>@BusinessParkE.Global.Constants.Menus_Items.GLOBAL_TITLE()</b></span>

                </a>


                <!-- Header Navbar -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>


                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">





                            <!-- User Account Menu -->
                            <li class="dropdown user user-menu">
                                <!-- Menu Toggle Button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <!-- The user image in the navbar-->
                                    <img src="~/Content/IMG/logo.png" class="user-image" alt="User Image">
                                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                    <span class="hidden-xs">@items.GivenName</span>
                                </a>
                                <ul class="dropdown-menu">


                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="@Url.Action("Admin", "Admin")" class="btn btn-default btn-flat">Profile</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="@Url.Action("SignOut", "Account")" class="btn btn-default btn-flat">Sign out</a>
                                        </div>
                                    </li>


                                </ul>
                            </li>


                        </ul>
                    </div>
                </nav>

            </header>



            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">


                    <!-- Sidebar user panel (optional) -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="~/Content/IMG/logo.png" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <p>Hello, @items.GivenName</p>
                            <!-- Status -->

                        </div>
                    </div>



                    <!-- Sidebar Menu -->
                    <ul class="sidebar-menu">
                        <li class="header">Admin Tools</li>
                        <!-- Optionally, you can add icons to the links -->


                        <li>
                            <a href="@Url.Action("Dashboard", "Admin")">
                                <i class="fa fa-home"></i>
                                <span>@BusinessParkE.Global.Constants.Menus_Sidebar_Admins.GLOBAL_DASHBOARD()</span>
                            </a>
                        </li>


                        <li>
                            <a href="@Url.Action("Admin", "Admin")">
                                <i class="fa fa-user"></i>
                                <span>@BusinessParkE.Global.Constants.Menus_Sidebar_Admins.GLOBAL_MY_PROFILE()</span>
                            </a>
                        </li>


                        <li>
                            <a href="@Url.Action("Sensor", "Admin")">
                                <i class="fa fa-car"></i>
                                <span>@BusinessParkE.Global.Constants.Menus_Sidebar_Admins.GLOBAL_COMPANY_SENSORS()</span>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Analytic", "Admin")">
                                <i class="fa fa-cloud"></i>
                                <span>@BusinessParkE.Global.Constants.Menus_Sidebar_Admins.GLOBAL_SENSOR_ANALYTICS()</span>
                            </a>
                        </li>



                    </ul>



                </section>
                <!-- /.sidebar -->
            </aside>




            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">


                <!-- Main content -->
                <section class="content">

                    @RenderBody()

                </section>


            </div>



            <!-- Main Footer -->
            <footer class="main-footer">
                <!-- To the right -->
                <div class="pull-right hidden-xs">
                    Anything you want
                </div>
                <!-- Default to the left -->
                <strong>Copyright &copy; 2017 <a href="#">@BusinessParkE.Global.Constants.Menus_Items.GLOBAL_TITLE()</a>.</strong> All rights reserved.
            </footer>


        </div>
    <!-- ./wrapper -->



    }




    <!-- REQUIRED JS SCRIPTS -->
    <!-- VENDORS: jQuery 2.2.3 -->
    <script src="~/Content/Vendors/JQuery/jquery.js"></script>

    <!-- VENDORS: Bootstrap 3.3.6 -->
    <script src="~/Content/Vendors/Bootstrap/bootstrap.js"></script>

    <!-- VENDORS: AdminLTE App JS -->
    <script src="~/Content/Vendors/AdminLTE/admin_lte.js"></script>


    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. Slimscroll is required when using the
         fixed layout. -->

    @RenderSection("JS_Content", false)


</body>
</html>
